.checked {
  text-decoration: line-through;
  text-decoration-color: #5C0B1F;
}

.form-control {
  width: 70%;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
}

li {
  padding: 1%;
}

.checkbox {
  margin-right: 2%;
}

.task-input {
  margin-right: 2%;
}

.btn {
  margin-left: 3%;
}
