<nav class="navbar shadow-1 amaranth dark-2">
  <a href="#" class="navbar-logo centered">
    <img src="../assets/logo.png" alt="Xelzs" />
  </a>
  <a href="#" target="_blank" class="navbar-brand">Todo List</a>
</nav>

<app-task></app-task>
<app-users></app-users>

<footer class="large-footer amaranth dark-2">
  <div class="container">
    <div class="grix xs3">
      <div class="footer-content">
        <h6></h6>
        <p>
          <br />
        </p>
      </div>
      <div class="footer-content txt-center">
        <h6></h6>
        <p>
          Welcome<br />
        </p>
      </div>
      <div class="footer-content txt-right">
        <h6></h6>
        <p>
          <br/>
        </p>
      </div>
    </div>
  </div>
  <div class="footer fx-center">Copyright © 2021 - Todo List</div>
</footer>
